[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "WhiteStripe"]
	path = WhiteStripe
	url = https://github.com/muschellij2/whitestripe
[submodule "brainR"]
	path = brainR
	url = https://github.com/muschellij2/brainr
[submodule "cforward"]
	path = cforward
	url = https://github.com/muschellij2/cforward
[submodule "cifti"]
	path = cifti
	url = https://github.com/muschellij2/cifti
[submodule "diffr"]
	path = diffr
	url = https://github.com/muschellij2/diffr
[submodule "freesurfer"]
	path = freesurfer
	url = https://github.com/muschellij2/freesurfer
[submodule "fslr"]
	path = fslr
	url = https://github.com/muschellij2/fslr
[submodule "gcite"]
	path = gcite
	url = https://github.com/muschellij2/gcite
[submodule "gifti"]
	path = gifti
	url = https://github.com/muschellij2/gifti
[submodule "glassdoor"]
	path = glassdoor
	url = https://github.com/muschellij2/glassdoor
[submodule "kirby21.base"]
	path = kirby21.base
	url = https://github.com/muschellij2/kirby21.base
[submodule "kirby21.fmri"]
	path = kirby21.fmri
	url = https://github.com/muschellij2/kirby21.fmri
[submodule "kirby21.t1"]
	path = kirby21.t1
	url = https://github.com/muschellij2/kirby21.t1
[submodule "leanpubr"]
	path = leanpubr
	url = https://github.com/muschellij2/leanpubr
[submodule "matlabr"]
	path = matlabr
	url = https://github.com/muschellij2/matlabr
[submodule "neurobase"]
	path = neurobase
	url = https://github.com/muschellij2/neurobase
[submodule "neurocInstall"]
	path = neurocInstall
	url = https://github.com/muschellij2/neurocinstall
[submodule "neurohcp"]
	path = neurohcp
	url = https://github.com/muschellij2/neurohcp
[submodule "rscopus"]
	path = rscopus
	url = https://github.com/muschellij2/rscopus
[submodule "stapler"]
	path = stapler
	url = https://github.com/muschellij2/stapler
[submodule "stepcount"]
	path = stepcount
	url = https://github.com/cran/stepcount
