[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cforward"]
	path = cforward
	url = https://github.com/muschellij2/cforward
	shallow = true
	registered = true
[submodule "diffr"]
	path = diffr
	url = https://github.com/muschellij2/diffr
	shallow = true
	registered = true
[submodule "gifti"]
	path = gifti
	url = https://github.com/muschellij2/gifti
	shallow = true
	registered = true
[submodule "glassdoor"]
	path = glassdoor
	url = https://github.com/muschellij2/glassdoor
	shallow = true
	registered = true
[submodule "leanpubr"]
	path = leanpubr
	url = https://github.com/muschellij2/leanpubr
	shallow = true
	registered = true
[submodule "matlabr"]
	path = matlabr
	url = https://github.com/muschellij2/matlabr
	shallow = true
	registered = true
[submodule "mscstts"]
	path = mscstts
	url = https://github.com/muschellij2/mscstts
	shallow = true
	registered = true
[submodule "neurobase"]
	path = neurobase
	url = https://github.com/muschellij2/neurobase
	shallow = true
	registered = true
[submodule "neurohcp"]
	path = neurohcp
	url = https://github.com/muschellij2/neurohcp
	shallow = true
	registered = true
[submodule "nsrr"]
	path = nsrr
	url = https://github.com/muschellij2/nsrr
	shallow = true
	registered = true
[submodule "rscopus"]
	path = rscopus
	url = https://github.com/muschellij2/rscopus
	shallow = true
	registered = true
[submodule "stapler"]
	path = stapler
	url = https://github.com/muschellij2/stapler
	shallow = true
	registered = true
